html,
body {
  background-color: rgb(8, 8, 8);
  color: white;
  font-family: "Noto Sans";
  height: 1000px;

  margin: 0px;
}

body {
  margin-top: 92px;
  margin-left: 128px;
}

/*
  S C R O L L B A R
*/
::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-track {
  background: rgb(34, 34, 36);
  border-color: rgb(24, 24, 24);
  border-style: solid;
  border-top: 0px;
  border-left-width: 2px;
  border-right: 0px;
  border-bottom: 0px;
}
::-webkit-scrollbar-thumb {
  background: rgb(76, 76, 76);
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
}


