html,
body {
  background-color: rgb(12, 12, 12);
  color: white;
  font-family: Arial;

  margin: 10px;
  margin-left: 24px;
  padding: 0px;
}

h1 {
  font-size: 38px;

  margin: 0px;
  margin-left: -20px;
  padding: 0px;
}

.links {
  font-size: 32px;
  font-weight: 700;
  animation: color-change 1s infinite;
  -webkit-animation: color-change 1s infinite;
  -moz-animation: color-change 1s infinite;
  -o-animation: color-change 1s infinite;
  -ms-animation: color-change 1s infinite;
}
@keyframes color-change {
  0% {
    color: red;
  }
  33% {
    color: rgb(0, 255, 0);
  }
  66% {
    color: rgb(0, 0, 255);
  }
  100% {
    color: red;
  }
}

font {
  font-size: 26px;
}

a {
  display: flex;
  color: white;
  text-decoration: none;
  display: block;
  margin-top: 12px;
  width: 200px;
}

.tube {
  font-weight: 700;
  background-color: rgba(255, 0, 0, 0.6);
  padding: 1px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.new,
.grounds {
  font-weight: 800;
}
.new {
  background: rgb(226, 45, 17);
  background: linear-gradient(0deg, rgb(248, 12, 3) 0%, rgb(255, 230, 0) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.instagram {
  border-top: 0px;
  border-bottom: 0px;
  font-family: "Cedarville Cursive";
  font-weight: 700;
  background: rgb(255, 59, 0);
  background: linear-gradient(
    0deg,
    rgb(255, 38, 0) 0%,
    rgb(201, 40, 250) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.redd, .i, .t {
  margin-top: 0px;
}
.i {
  color: red;
  font-weight: 700;
}
.twitter {
  font-family: Ubuntu;
  color: cyan;
}
