.social-container {
  width: 360px;
  border-width: 1px;
  border-color: rgb(46, 46, 46);
  border-style: solid;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-color: rgb(12, 12, 12);
}

.social-header {
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  background: rgb(199, 83, 0);
  background: linear-gradient(
    0deg,
    rgba(199, 83, 0, 0.15) 0%,
    rgba(218, 0, 110, 0.15) 100%
  );
  border-color: rgb(46, 46, 46);
  border-style: solid;
  border-bottom-width: 1px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
}

.social-header h1 {
  margin-left: 6px;
  padding: 8px;
  font-size: 28px;
}

.social-body {
  margin-left: 6px;
  padding: 8px;
  align-items: center;
}

.social-body div {
  display: flex;
  align-items: center;
  padding: 2px;
  padding-top: 4px;
  padding-bottom: 3px;
}

.social-body img {
  width: 24px;
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.social-body a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.social-body p {
  margin: 0px;
  margin-left: 6px;
  display: inline;
  color: white;
  margin-right: 2px;
}
.social-body p:hover {
  text-decoration: underline;
}

.social-body .username {
  color: rgb(94, 94, 94);
  font-weight: 300;
}
.social-body .username:hover {
  color: rgb(230, 230, 230);
  text-decoration: none;
}
