.social-container {
  width: 360px;
  margin-bottom: 72px;
}

.social-header {
  border-color: rgb(32, 32, 32);
  border-style: solid;
  border-bottom-width: 1px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
}

.social-header h1 {
  margin-left: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 28px;
}

.social-body {
  margin-top: 6px;
  margin-left: 0px;
  padding: 4px;
  align-items: center;
}

.social-body div {
  display: flex;
  align-items: center;
  padding: 2px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.social-body img {
  width: 24px;
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
  margin-right: 6px;
}

.social-body a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.social-body p {
  margin: 0px;
  display: inline;
  color: rgb(224, 224, 224);
}
.social-body .site:hover {
  text-decoration: underline;
}

.social-body .username {
  color: rgb(94, 94, 94);
  font-weight: 300;
  margin-left: 8px;
}
.social-body .username:hover {
  color: rgb(160, 160, 160);
  text-decoration: none;
}

@media (max-width: 415px) {
  .social-container {
    width: 320px;
  }
}
