.bruh {
  display: none;
}

.outside {
  display: flex;
  justify-content: center;
}

.year-top {
  margin-left: 128px;
}

.title {
  margin-bottom: 24px;
  font-size: 42px;
  display: block;
  text-align: center;
}

.the-top {
  display: flex;
  align-items: center;
  flex-direction: column;
}

img {
  width: 28px;
}

.username {
  display: inline;
  font-weight: 800;
  font-size: 36px;
  text-align: center;
}
#easy {
  margin-top: 10px;
}
#ign {
  text-decoration: underline;
  text-align: center;
}
#total {
  width: 256px;
  padding-top: 6px;
  margin-top: 8px;
  border-top-width: 1px;
  border-style: solid;
  border-color: rgb(32, 32, 32);
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.info-box {
  margin-bottom: 36px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.info {
  display: flex;
  width: auto;
  height: 32px;
  align-items: center;
  text-align: center;
}

.info p {
  margin-left: 8px;
  font-family: "Noto Sans";
}

.note {
  background-color: rgba(255, 0, 0, 0.068);
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
  max-width: 680px;
  margin-bottom: 36px;
  text-align: center;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

h1 {
  font-size: 40px;
}

table {
  margin-left: 128px;
  font-family: "Noto Sans", sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin-top: 12px;
  margin-bottom: 72px;
  table-layout: fixed;
  color: rgb(216, 216, 216);
}

.year {
  text-align: end;
}

.lvl {
  text-align: center;
}

td {
  text-align: center;
  font-family: "Noto Sans";
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: rgb(32, 32, 32);
  text-align: left;
  padding: 4px;
}

td a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 500;
  font-family: "Noto Sans";
}
td a:hover {
  text-decoration: underline;
}

td img {
  width: 28px;
}

.center {
  text-align: end;
}

.none-para {
  margin-left: 128px;
}

@media (max-width: 890px) {
  .none-para, .year-top, table {
    margin-left: 86px;
  }
}

@media (max-width: 650px) {
  .none-para, .year-top, table {
    margin-left: 48px;
  }
}

.face {
  width: 40px;
}

@media (max-width: 425px) {
  .year {
    display: none;
  }
  .none-para, .year-top, table {
    margin-left: 32px;
  }
}

@media (max-width: 375px) {
  .face {
    display: none;
  }
  td {
    font-weight: 300;
  }
}

@media (max-width: 320px) {
  td {
    font-weight: 200;
  }
}

@media (max-width: 270px) {
  .info-box img {
    display: none;
  }
}

@media (max-width: 214px) {
  .bruh {
    display: contents;
  }
  header {
    visibility: hidden;
  }
  .outside {
    display: none;
  }
}