.version::after {
  margin: 0px;
  position: fixed;
  bottom: 4px;
  right: 6px;
  content: "v22.10.08e";
}

html,
body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(8, 8, 8);
  color: white;
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
  margin: 0px;
}

body {
  margin-top: 138px;
}

h1 {
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
  font-weight: 900;
  margin: 0px;
}

/* S C R O L L B A R */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
  background: rgb(32, 32, 32);
}
::-webkit-scrollbar-thumb {
  background: rgb(92, 92, 92);
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
}

a {
  color: rgb(255, 166, 0);
  text-decoration: none;
}

h6 {
  font-weight: 200;
  font-size: 16px;
  color: gray;
  margin: 20px;
}

::selection {
  background: rgb(235, 172, 0);
  color: black;
}
::-moz-selection {
  background: rgb(235, 172, 0);
  color: black;
}

br {
  text-align: center;
}
