.profile {
  width: 96px;
  height: 96px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  transition: 0.15s;
  -webkit-transition: 0.15s;
  -moz-transition: 0.15s;
  -ms-transition: 0.15s;
  -o-transition: 0.15s;
}
.profile:hover {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

h2 {
  margin-bottom: 2px;
  font-weight: 900;
}

.me {
  text-align: center;
}

.bio {
  font-weight: 500;
}

p {
  color: gray;
  margin: 0px;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: start; 
  position: relative;
}

.links p {
  align-items: baseline;
  font-size: 12px;
}

.link-icons {
  width: 52px;
  margin: 12px;
  margin-bottom: 0px;
}

a {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 14px;

  transition: 0.15s;
  -webkit-transition: 0.15s;
  -moz-transition: 0.15s;
  -ms-transition: 0.15s;
  -o-transition: 0.15s;
}

a:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.yt {
  position: relative;
}
.lbl {
  position: absolute;
  margin-top: 12px;
  margin-left: 66px;
  font-weight: 200;
}

.yt2 {
  position: relative;
}
.lbl2 {
  position: absolute;
  margin-top: 12px;
  margin-left: 66px;
  font-weight: 200;
}

.other {
  width: max-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.other, .other h1 {
  text-align: center;
}

.other-links {
  background-color: rgb(48, 48, 48);
  width: auto;
  height: 72px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 700;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.other-links:hover {
  cursor: pointer;
}

.other-links img {
  width: 48px;
  height: 48px;
  padding: 8px;
}

.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 525px) {
  .spaces1 {
    display: none;
  }
}

@media (max-width: 500px) {
  .link-icons {
    width: 36px;
    margin: 10px;
  }
  .lbl {
    margin-top: 4px;
    margin-left: 48px;
  }
  .lbl2 {
    margin-top: 4px;
    margin-left: 48px;
  }
}

@media (max-width: 380px) {
  .link-icons {
    width: 30px;
    margin: 8px;
  }
  .lbl {
    margin-top: 0px;
    margin-left: 38px;
    font-size: 6px;
  }
  .lbl2 {
    margin-top: 0px;
    margin-left: 38px;
    font-size: 6px;
  }
  .spaces2 {
    display: none;
  }
  .other-links {
    font-size: 22px;
  }
  .bio {
    font-size: 14px;
  }
}

@media (max-width: 300px) {
  .link-icons {
    width: 24px;
    margin: 6px;
  }
  .lbl {
    margin-top: -4px;
    margin-left: 28px;
    font-weight: 100;
  }
  .lbl2 {
    margin-top: -4px;
    margin-left: 28px;
    font-weight: 100;
  }
  .other-links {
    font-size: 20px;
  }
  .other-links img {
    width: 36px;
    height: 36px;
  }
}

.bruh {
  visibility: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
}

@media (max-width: 214px) {
  .bruh {
    visibility: visible;
  }
  header {
    display: none;
  }
  .me {
    display: none;
  }
  .links {
    display: none;
  }
  .other {
    display: none;
  }
  h6 {
    display: none;
  }
}

a img {
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

/*
.yt:hover {
  background: rgba(255, 2, 2, 0.822);
}
*/